@model MvcMovie.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sex" class="control-label"></label>
                <input asp-for="sex" class="form-control" />
                <span asp-validation-for="sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrithDate" class="control-label"></label>
                <input asp-for="BrithDate" class="form-control" />
                <span asp-validation-for="BrithDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phonex" class="control-label"></label>
                <input asp-for="phonex" class="form-control" />
                <span asp-validation-for="phonex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t" class="control-label"></label>
                <input asp-for="t" class="form-control" />
                <span asp-validation-for="t" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="writeDate" class="control-label"></label>
                <input asp-for="writeDate" class="form-control" />
                <span asp-validation-for="writeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
